<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
				  <match url="(.*)" />
					<conditions>
					  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
				  <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
        </rewrite>
			<httpErrors>
				<!--<remove statusCode="401" subStatusCode="-1" />-->
				<!--<remove statusCode="403" subStatusCode="-1" /> -->    
				<remove statusCode="404" subStatusCode="-1" />   
				<remove statusCode="403" subStatusCode="-1" />                
				
				<!--<remove statusCode="500" subStatusCode="-1" /> -->
				  <!-- full url when responsemode is Redirect -->
				<!--<error statusCode="401" path="http://foo.com/default.htm" responseMode="Redirect" />-->
				  <!-- local relative path when responsemode is ExecuteURL -->
				<!--<error statusCode="403" path="/errors/403.html" responseMode="ExecuteURL" />-->
				<error statusCode="404" path="/errors/404.html" responseMode="ExecuteURL" />    
				<error statusCode="403" path="/errors/403.html" responseMode="ExecuteURL" />                
				
				<!--<error statusCode="500" path="/errors/500.html" responseMode="ExecuteURL" />-->
			</httpErrors>
    </system.webServer>
</configuration>
